---
import SidebarNav from '../components/Sidebar.astro';

interface Props {
  title?: string;
  description?: string;
  modifier?: string;
  styles?: string;
}

const {
  title = 'Cookie though',
  description = 'Easy to use, minimal footprint application that manages cookie preferences. So delicious, you\'ll never need another library again 😄',
  modifier = '',
} = Astro.props;

const siteTitle = 'Cookie though';
const siteUrl = 'https://cookiethough.dev';
const githubUrl = 'https://github.com/inthepocket/cookie-though/';
const socialImage = '/images/social.png';
const fullTitle = title ? `${title} | ${siteTitle}` : siteTitle;
---

<!DOCTYPE html>
<html class="no-js" lang="en" id="docs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline';" /> -->

    <title>{fullTitle}</title>

    <meta name="robots" content="index, follow" />
    <meta name="description" content={description} />
    <meta name="keywords" content="cookie policy, in the pocket, metomic, cookie banner, open source" />

    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={`${siteUrl}${socialImage}`} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={siteTitle} />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:creator" content="In the pocket" />
    <meta property="twitter:site_name" content={siteTitle} />
    <meta property="twitter:type" content="website" />
    <meta property="twitter:image" content={`${siteUrl}${socialImage}`} />
    <meta property="twitter:url" content={siteUrl} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:title" content={siteTitle} />
    <meta name="author" content="In the pocket" />
    <link rel="canonical" href={`${siteUrl}${Astro.url.pathname}`} />
    <link rel="icon" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code" rel="stylesheet" />
    <style lang="scss" is:global>
      @use '../_scss/docs.scss';
    </style>
  </head>

  <body class={`layout--docs ${modifier ? modifier : ''}`}>
    <a href={githubUrl} class="github-corner" target="_blank" aria-label="View source on Github" rel="noreferrer">
      <svg width="80" height="80" viewBox="0 0 250 250">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
      </svg>
    </a>

    <div class="container container--docs">
      <button class="sidebar-toggle" aria-label="Menu">
        <div class="sidebar-toggle-button">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>

      <aside class="sidebar">
        <nav class="docs-nav">
          <h1 class="app-name">
            <a href="/">Cookie Though</a>
          </h1>
          <SidebarNav />
        </nav>
      </aside>

      <main>
        <article class="markdown-section">
          <slot />
        </article>
      </main>
    </div>
    <script>
      // Active class on nav
      const url = window.location.href.split('/')[3].toLowerCase();
      const links = document.querySelectorAll('.docs-nav a')
      links.forEach(link => link.textContent.toLowerCase() === url ? link.classList.add('active') : '');

      let isClosed = false;
      const evaluate = () => {
        const width = window.innerWidth;
          if (width > 768) {
            document.querySelector('.sidebar')?.classList.remove('closed');
            document.querySelector('main')?.classList.remove('closed');
          }

          if (width < 768) {
            document.querySelector('.sidebar')?.classList.add('closed');
            document.querySelector('main')?.classList.add('closed');
          }
      }

      let isThrottled = false;
      window.addEventListener('resize', e => {
        if (isThrottled) return;

        isThrottled = true;
        evaluate();
        setTimeout(() => isThrottled = false, 100);
      });

      // Toggle sidebar
      document.querySelector('.sidebar-toggle')?.addEventListener('click', () => {
        document.querySelector('.sidebar')?.classList.toggle('closed');
        document.querySelector('main')?.classList.toggle('closed');
      });
      evaluate();
    </script>
  </body>
</html>

